# **Python Basics**

## **1. Quick start**

### 1. Variables and Data types

In [ ]:
a = "hello world"
b = 100
c = 9.78

print(a,type(a)," - ", b, type(b), " - ",c,type(c)) #concat using : "," not "+" unlike java

hello world <class 'str'>  -  100 <class 'int'>  -  9.78 <class 'float'>

### 2. Printing formatted String

In [ ]:
str = "apple"
price = 100
print("{} in TN is Rs{} per kilo".format(str, price))
print(f"{str} in TN is Rs{price} per kilo")
print(anyString) #error: anyString is undefined

numbers = input()
print(type(numbers)) #this gives us string values

#to convert it into individual numbers :
#convert it into string array
nums = numbers.split()
print(nums)

### 2. Literal Constants

- no char data type
- Data types: int, float, str, bool, typles, sets,
 dictionaries, lists, complex

### 3. operators

In [ ]:
a, b = 122, 10 #assignment optr
print("add ",a+b)
print("sub ",a-b)
print("int div ", a//b)
print("rem ",a%b)
print("exponent ",type(a**b))
print(ord("A")) #prints the ascii value of characters

### 4. logical operators

booleans in python are integers
(__obj: object, __class_or_tuple: _ClassInfo, /) -> bool
Return whether an object is an instance of a class or of a subclass thereof.

In [ ]:
print(isinstance(True,int))

### 5. Conditional operators

In [ ]:
a = 19
if a>0:
    print("a is positive")
    if a > 10:
        print("a > 10")
    else:
        print("a<10")
elif a == 0:
    print("a is zero")
else:
    print("a is negetive")

### 6. looping statements

In [ ]:
loopvar = 10
#while
while loopvar:
    print(loopvar)
    loopvar-=1

In [ ]:
#for
#for <iterator> in <iterable> :
for i in [1,2,3,4,5]:
    i+=10
    print(i)

for s in "python":
    s+='10'
    print(s)

### 7. Range function

range([start], stop, [step_size]) -> object{ [start,stop) }

In [ ]:
nums = range(3,10,2)
print(nums)
for i in nums:
    print(i)

range(3, 10, 2)
3
5
7
9

## **2. Exception handling in python**

- try block, we write the code in which there are chances
of any error or exception to occur.
- Whereas the except block is responsible for catching the
exception and executing the statements specified inside it.

- code execution is interrupted in the try block when an
exception occurs, and the code statements inside the try
block after the line which caused the exception are not
executed.
- The execution then jumps into the except block. And after
the execution of the code statements inside the except block
the code statements after it are executed, just like any
other normal execution.

- Finally block, always executed. Generally used for closing
resources like files and databases.

In [ ]:
try:
    a = input("Enter numerator")
    b = input("inter denominator ")
    res = a/b
    print(a,"/",b," is: ",res)

#Syntax: except(<Types of exception to be catched>)
except(ZeroDivisionError):
    print("div by zero not allowed")
except(ValueError):
    print("You must enter a string value")
#handling with one except block
except(ZeroDivisionError, ValueError):
    print("You have wither divided by zero or entered wrong val")
# generic except block
except:
    print("Oops! Something went wrong!")
finally:
    print("Code execution Wrap up!")

Oops! Something went wrong!
Code execution Wrap up!

Raise keyword: to raise an exception

In [ ]:
a = 10
b = 9
try:
    # condition for checking for negative values
    if a < 0 or b < 0:
        # raising exception using raise keyword
        raise ZeroDivisionError
    print(a/b)
except ZeroDivisionError:
    print("Please enter valid integer value")

1.1111111111111112

raise - without specifying exception class :
If we don't provide any exception class name with the
raise keyword, it reraises the exception that last occured.

- used generally inside an except code block to reraise
an exception which is catched.

In [ ]:
a = 10
b = 0
try:
    print(a/b)
except ZeroDivisionError:
    raise

ZeroDivisionError: division by zero

raise - with argument
we can also provide an argument while raising an exception
which is displayed along with the exception class name
on the console.

In [ ]:
a = 10
b = 0
try:
    print(a/b)
except ZeroDivisionError:
    raise ValueError("Incorrect value")

## **3. Functions**

### 1. Local and Global variables

Python treates func var as local var and a value cannot be
modified before it is initialized

In [ ]:
x = 10
def show():
    x+=5 #error! modifying the value before initializing it
    print(x)

print(x)
show()
print(x)

x = 10
def show():
    global x
    x+=5
    print(x)

print(x)
show()
print(x)

### 2. Returning multiple values from a function

returns tuple of multiple values

In [ ]:
def add_sub(x,y):
    add_res = x+y
    sub_res = x-y
    return add_res, sub_res

tes = add_sub(10,20)
print(tes)

res1, res2 = add_sub(10,20) #destructuring the tuple
print("add : ", res1, " sub : ", res2)

#Global/ Local
person = "Gagan"

def my_function():
    # person += "Kumar" #error!
    x = globals() #return dict[str<var_name> - any<value>]
    globals()['person'] += " Kumar"

print(person)
my_function()
print(person)

## **4. More on varibales**

### 1. More on varibales

In python, whenever we carete multiple variables and if they
have same data, they both will point to same box

In [ ]:
num1 = 5
print(id(num1)) #gives the address of the variable
num2 = 5
print(id(num2))

### 2. types of variable

-> to check the type of var: type(a)

-> Data types

none, Numeric, String, Range, List, Tuple, Set, Dictionary
-> none: when a var is not assigned any value
Numeric: int, float, complex, bool

In [ ]:
num1 = 3 + 4j #complex

#type conversion
a = 6.67
b = int(a)
print(type(b))
c = float(b)
d = 7
e = complex(c,d)
print(e, type(e))

## **5. More on Functions**

### 1. Pass by value and pass by reference

: <refer p-11(1) pg.-14>

### 2. To keep function without function body

In [ ]:
def person():
    pass

### 3. Arguments

In [ ]:
def person(name, dob, citizen):
    print(f"{name} age {2023-dob} is {citizen} citizen")
person("Anil", 2001, "India")
person(dob=2004, name="Kunal", citizen="USA")

### 4. Default Arguments

In [ ]:
def person(name, dob, citizen="India"):
    print(f"{name} age {2023-dob} is {citizen} citizen")
# person(name="Karan", 34) #error: Positional argument cannot appear after keyword arguments
person(name="Karan", dob=2001)
person(name="Jaival", dob=2002, citizen="Canada")

### 5. Variable length arguments (*args)

Number of parameters are not fixed

In [ ]:
def sum(a, *b):
    # 'b' can accept multiple arguments in the form of tuple
    c = a
    for i in b:
        c+=i
    print(c)
sum(3,50,50,100)

def person(name, *details):
    print(name)
    for d in details:
        print(d)
person("Deepak", "22", "Bangalore") #works fine
person(name="Deepak", age="22", city="Bangalore") #error: unexpected argument 'age', so solve this problem we have kwargs

### 6. Keyword variable arguments (**kwargs)

When we want to pass variable length arguments that too with keywords

In [ ]:
def person(name, **details):
    print(name)
    print(details) #Dictionary [str : any]
    print(type(details))

    for key, val in details.items():
        print(f"{key} -- {val}")

person(name="Deepak", age="22", city="Bangalore", company="Honeywell", ctc=10)
person(name="Prashant", age="21", company="Honeywell", city="Hyd" , mob=98789867)

### 7. Order of taking arguments

function(a, b, c, *args, d=10, e=34, **kwargs)

### 8. Lambda Functions/ Anonymous functions

Single one liner function
```
add   =   lambda    a,b      :    a+b
----               -----          ----
func         comma sep. args    expression to be returned
```

In [ ]:
add = lambda a,b : a+b
s1 = add(10,20)
print(s1)

isEvenOdd = lambda num : "Even" if num%2 == 0 else "Odd"
ans1 = isEvenOdd(9867)
print(ans1)

## **6. Data Structures**

Derieved

List, Tuple, Dictionary (immutable), Set

## **6.1. String**

Strings are immutable

1. Declaration

In [ ]:
name = 'a' #string of length 1
name = "Raj"
name[0] = 'T' #err: 'str' object does not support item assignment
print(name)

TypeError: 'str' object does not support item assignment

2. Ord / Chr

ord(a) : returns the ascii equivalent index of a char

Chr(a) : Returns the ascii equivalent char of it

In [1]:
index = ord("A")
print(index)

# index = ord("AB") #error
# print(index)

char = chr(64)
print(char)

char = chr(645756)
print(char) #undefined ouput

65
@
ò©¼

3. String operations

3-i length

In [ ]:
print(len(str))

3-ii indexing

------>

0 to (len-1)
    
   <------

-len to -1

str[0]  = 'A' str[1]  = 'B' str[2]  = 'C' str[3]  = 'D' str[4]  = 'E'

str[-1] = 'E' str[-2] = 'D' str[-3] = 'C' str[-4] = 'B' str[-5] = 'A'

3-iii Changing the entire string

In [2]:
str = "FGH"
print(str)
type(str)

FGH

str

3-iv String Concatination

In [ ]:
f_name = "Raghu"
l_name = "kishan"
name = f_name + " " + l_name
print(name)

3-v Type casting using str() function

In [ ]:
age = 90
str2 = "I am " + str(age) + " years old"
print(str2)
str2 = "I am " + age + " years old"
print(str2) #err: TypeError - can only concatenate str (not "int") to str

3-vi String slicing

To extract a particular part or a substring from a string object



```
string[start_pt : end_pt : step_count]
```


start to (n-1) index

step_count: helps to skip intermediate characters

In [3]:
statement = "Python programming is fun"

sliced_stmt = statement[8 : 20]
print(sliced_stmt)

sliced_stmt = statement[ : 10] # 0 till index 9
print(sliced_stmt)

sliced_stmt = statement[19 : ] # 19 to end index
print(sliced_stmt)

want_programming = statement[7 : 7+len("programming")]
print(want_programming)

rogramming i
Python pro
is fun
programming

3-vii Membership operator

in / not in

In [ ]:
statement2 = "John did you attended the advance conference on Machine Learning"
print('John' in statement2)
print('John' not in statement2)

3-viii Repeation Operator

In [ ]:
str = "ABC"
repeated_str = str*4
print(repeated_str)

4. String Methods

4-i Help

shows the list of all functions

In [ ]:
help()

4-ii Upper/ Lower

In [ ]:
str = "hi THIS is jOHn"
print(str.upper())
print(str.lower())

4-iii strip() / rstrip() / lstrip()

To remove spaces or any char from ending/ left/ right

In [ ]:
str = "     %%There is a football match in Argentina^^  "
print(str.rstrip())
print(str.lstrip())

str2 = "%%second str^^"
print(str2.rstrip('^'))
print(str2.lstrip('%'))
print(str2.lstrip('%').rstrip('^'))

4-iv count()

To count the number of occurrence of a given sub string in a string

In [ ]:
str3 = "This is a sample sentence"
print(str3.count("s"))
print(str3.count("s", 5)) #start from 5th index
print(str3.count("s", 5, 10)) # (subStr, start, end)

Example-1

Reverse a String

In [ ]:
s1 = "apple"
print(s1[::-1])

Example-2

Checking whether the String is Pallindrome or not

In [ ]:
s2 = "abcdcba"
print(s2 == s2[ : : -1])

## **6.2. Lists**

- ordered             
- accessed using index
- mutable             
- hetrogenious in nature

1. Creating List

In [ ]:
a = [] #auto create
a = list() #create empty list

l = ["apple", 100, 24.5, 'banana', ["ab","cd"], ("mango", "pineapple")]
print(l)

2. Indexing

List also follows indexing same as of string

0 to len(l)-1

3. Operations

3.i Length

In [ ]:
l = ["apple", 100, 24.5, 'banana', ["ab","cd"], ("mango", "pineapple")]
print(len(l))

3.ii List Concatination

In [ ]:
l1 = ['apple', 'banana', 3.14]
l2 = ['mango']
l3 = l1+l2
print(l3)

3.iii Mutability

list are mutable

In [ ]:
l1 = ['apple', 'banana', 3.14]
l1[0] = 'mango'
print(l1)

3.iv Membership in list

In [ ]:
l1 = ['apple', 'banana', 3.14]
print(3.14 in l1)
print("mango" in l1)

3.v Repetation

In [ ]:
l1 = ["hi", 45]
l1 = l1*3
print(l1)

3.vi Traversing through the list

List are also iterable like String

In [ ]:
l1 = ['apple', 'banana', 3.14]
i = 1
for element in l1:
    print(f"{i}) {element}")
    i = i+1

3.vii Slicing

In [ ]:
l1 = ['0', '1', '2', '3', '4']
print(f"l1[1:4] : {l1[1:4]}")
print(f"l1[:4] : {l1[0:4]}")
print(f"l1[2:] : {l1[2:]}")
print(f"l1[:4:2] : {l1[:4:2]}")

4. List Methods

4.i Adding elements

In [ ]:
l1 = ['0', '1', '2', '3', '4']
l1.append("last")
print(l1)

l1 = ['0', '1', '2', '3', '4']
l1.insert(1, "atFirstIndex")
print(l1)

4.ii Extend()

It takes an iterable object like List, Tuple object and inserts it as an individual element to the list

In [ ]:
l1 = ['0', '1', '2', '3', '4']
l1.extend( ['e1','e2'] )
print(l1)

4.iii Delete elements from the List

4.iii-a del keyword

In [ ]:
l1 = ['0', '1', '2', '3', '4']
print(l1)
del l1 #deletes the list, deletes the entire scope of Object
print(l1)

l1 = ['0', '1', '2', '3', '4']
del(l1[0]) #not recommended
print(l1)

4.iii-b pop()

pop(? index) -> Object

deletes and returns the last element at index i.

Removes the last element if no index is passed

In [ ]:
l1 = ['0', '1', '2', '3', '4']
print(l1.pop())
print(l1)

l1 = ['0', '1', '2', '3', '4']
print(l1.pop(-2))
print(l1.pop(1))

4.iii-c remove()

remove(Object val) -> None

Takes obj as an argument, removes the 1st occurrence of that object form the given list.

Useful when working with objects.
Raises ValueError is 'val' is not in the list

In [ ]:
l1 = ["apple", "mango", "banana"]
print(l1.remove("apple")) #returns nothing
print(l1)

l1 = ["apple", "mango", "banana"]
l1.remove("orange")

4.iv Sorting

4.iv-a sorted()

Take any iterable object

Returns the sorted list

In [ ]:
l1 = ["apple", "mango", "banana"]
l1 = sorted(l1)
print(l1)

l1 = ["apple", "mango", "banana"]
l1 = sorted(l1, reverse=True)
print(l1)

4.iv-b sort()

Does not return anything

The sort is in-place (i.e. the list itself is modified) and
stable (i.e. the order of two equal elements is maintained).

In [ ]:
l1 = ["apple", "mango", "banana"]
l1.sort(reverse=True)
print(l1)

4.v Reversing the list

4.v-a reversed()

Return a reverse iterator over the list
def __reversed__() -> Iterator[str]

In [ ]:
#error:
l1 = ["apple", "mango", "banana"]
for i in l1.__reversed__:
     print(i)

4.v-b reverse()

in place reverse of the list

In [ ]:
l1 = ["apple", "mango", "banana"]
l1.reverse()
print(l1)

4.vi count(x)

Returns the no of times, x appears in the list

In [ ]:
l1 = ['apple', 'mango', 'mango', 'banana', 'mango']
print(l1.count('mango'))

5. Shallow Copying

In [ ]:
a = ["apple", "mango", "banana"]
b = a #Copies the address of ObjA to ObjB
a[0] = 'jucy'
print(a) #['jucy', 'mango', 'banana']
print(b) #['jucy', 'mango', 'banana']

#To overcome this sitution we use Shallow copying
a = ["apple", "mango", "banana"]
b = a[ : ] #copy all the contents of 'a' from start to end
print(b)
a[0] = 'jucy'
print(b)
print(a)

6. Interconversions

6.i Tuple to List

list()

class list()

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [ ]:
t = (1,2,3,4,5)
lst = list(t)

6.ii String to List

In [ ]:
lst = list("milton")
print(lst) #['m', 'i', 'l', 't', 'o', 'n']

6.iii List to Tuple

In [ ]:
lst = ['mango', 2, 3]
t = tuple(lst)
print(t)

6.iii Set to List

In [ ]:
s = {1,6,8,4}
l = list(s)
print(s) #position won't be retained

Example-1

Reversing a List

In [ ]:
l1 = ['0', '1', '2', '3', '4']
print(l1[::-1])

## **6.3. Tuple**

- Immutable data str like String

1. Defining Tuples

In [ ]:
t1 = (1, 2, 3, "apple")
t2 = 1, 2, 3, "mango"

#tuple of single value
t = 2,
print(type(t))
t = ('banana', )
type(t)

#*args accepts argument as tuple
def func(*args):
    print(args)

func(1,2,3)

2. Indexing

Tuple also follows indexing same as of List and string

0 to len(t)-1

3. Length

len(t)

In [ ]:
t = (1, 2, 3, "apple")
print(len(t))

4. Concatibation

+

In [ ]:
t1 = (1, 2, 3, "apple")
t2 = (5, "banana")
t = t1 + t2
print(t)

5. Aggrigation Operations: sum()/ min()/ max()

In [ ]:
t = (1,2,3,4,5)
t = ("apple", "banana", "mango")
print(sum(t)) #only for numeric data type
print(max(t))
print(min(t))

6. Mutating immutable tuples

In [ ]:
t = (0,1,2,3,4)
# t[3] = 'three' #error
t_new = t[0:3] + ('three',) + t[3:]
print(t_new)

7. Interconversions

7.i List to Tuple

tuple()

class tuple()

If no argument is given, the constructor returns an empty tuple.

If iterable is specified the tuple is initialized from iterable's items.

If the argument is a tuple, the return value is the same object.

In [ ]:
lst = ['mango', 2, 3]
t = tuple(lst)
print(t)

8. Returning multiple values form a function

In [ ]:
def add_sub(a,b):
     return a+b, a-b #or return (a+b, a-b)

sum_diff_tuple = add_sub(10,20)
print(sum_diff_tuple)

sum, diff = add_sub(10,20) #De-structuring it
print(f"sum: {sum} difference {diff}")

9. Sorting a Tuple

In [ ]:
# t = ('mango', 3, 5, 7, 'apple') #TypeError: '<' not supported between instances of 'int' and 'str'
t = (3, 5, 7, 1)
obj = sorted(t) #returns a list
type(obj)
print(obj)

t = tuple(obj)
print(t)

10. Nested Tuple

In [ ]:
t = (1,5,('python', 'java'), 7)
print(t[2][1])

Example-1

Swapping values

In [ ]:
a = 10
b = 20
(a,b) = (b,a)
a,b = b,a

## **6.4. Dictionary**

- stores the data in the form of key-value pair

- key must be unique

- keys in dictionary can be any immutable data str (list x)

1. Defining Dictionaries

In [ ]:
a = {} #Empty dictionary

profile = {
    'name' : 'Raj',
    'roll_no' : 90,
    'subjects' : ['maths', 'english'],
    'friends' : {
        'Anil' : 'Android',
        'Tarun' : 'React'
    }
}
print(profile)

d = dict(a=1, b=2)
print(d)

#to access data - using key
print(profile['name'])
print(profile['friends']['Anil'])

2. Example

In [ ]:
d = {'India' : 'INR', 'USA' : 'Dollor', 'France' : 'Euros'}
print(d['India'])

#Replace the value for a key
d['India'] = 'Rs'
print(d['India'])

#Insert new key value pair in dictionary
d['Japan'] = 'Yen'

#Deleting key value pair
del d['France']
print(d)

3. sorted

- return the list of keys in sorted manner

- sorted() works on iterable only

In [ ]:
d = {'India' : 'INR', 'USA' : 'Dollor', 'France' : 'Euros'}
#check for sorted method

#4. update()
d = {'India' : 'INR', 'USA' : 'Dollor', 'France' : 'Euros'}
d.update #chec once

5. Imp methods to iterate over dictionary

5.i Accessing Keys and Values

def values() -> dict_values[str, str]

D.values() -> an object providing a view on D's values

def keys() -> dict_keys[str, str]

D.keys() -> a set-like object providing a view on D's keys

In [ ]:
d = {'India' : 'INR', 'USA' : 'Dollor', 'France' : 'Euros'}

print(d.values())
print(type(d.values())) #<class 'dict_values'>

print(d.keys())
print(type(d.keys())) #<class 'dict_keys'>

print(sorted(list(d.values())))

5.ii items()

It will create a tupe of pairs (key-value) inside dictonary

In [ ]:
d = {'India' : 'INR', 'USA' : 'Dollor', 'France' : 'Euros'}
for i in d.items():
    print(i)

for key,val in d.items():
    print(f"{key}-{val}")

5. iii get()

to get a value

if not found will through throw an error

In [ ]:
d = {'India' : 'INR', 'USA' : 'Dollor', 'France' : 'Euros'}
print('India')

d = { (1,2) : "apple" }
print(d)

## **6.5. Sets**

- unordered collection
- using set you can test for membership, whether it is a subset of another set, find
the intersection between and so on.
- it is not meant to be iterated

1. Defination

In [ ]:
s = {1, 2, 4, 2, 7}
print(type(s))
print(s)

s = {} #this creates an empty dictionary not set
s = set() #correct way

2. Interconversion: List - set

In [ ]:
l = [2,5,8,7,2,5,2,2]
s = set(l)
print(s)

3. Length of set

In [ ]:
s = {1,6,8,3,5,1}
print(len(s))

4. Add/ Remove elements

In [ ]:
s = {1,6,8,3,5}

s.add(-7)
print(s)

s.remove(-1) #error: KeyError: -1
s.remove(-1)
print(s)

5. Mathematical Operations on set

5. i intersection

Returns the common elements of both the sets

In [ ]:
a = {1,4,6,7}
b = {4,6,2,3}
print(a&b)
print(a.intersection(b)) #a && b

5. ii union

concatinates both the sets

In [ ]:
a = {1,4,6,7}
b = {4,6,2,3}
print(a.union(b)) #a | b

5. iii a - b

all values in set a, not in set b

In [ ]:
a = {1,4,6,7}
b = {4,6,2,3}
print(a-b)
print(a.difference(b))

5. iv set of uncommon elements

(a-(a&b)) + (b-(a&b))
= a+b-2(a&b)

In [ ]:
a = {1,4,6,7}
b = {4,6,2,3}
print(a^b)

6. Iterating over a set

In [ ]:
a = {1,4,6,7}
a[4] #not allowed
print(a[0]) #TypeError: 'set' object is not subscriptable

a = {1,4,6,7}
for i  in a:
    print(i)

Example

Given 2 lists, identify the common elements in both and return them in sorted manner

In [ ]:
l1 = {1,4,6,7}
l2 = {4,6,2,3}

s1 = set(l1)
s2 = set(l2)

s = s1&s2
print(sorted(list(s)))

## **7. List Comprehension**

In [ ]:
#increase the marks of every student by 2
marks = [23, 12, 15, 18, 28, 28]
new_marks = []
for mark in marks:
  new_marks.append(mark+2)
print(new_marks)

[   `karna Kya hai?{expression}`  for   `kiske liye karna hai?{element}`  in `kaha jaake karna hai?{collection}` ]

In [ ]:
marks = [23, 12, 15, 18, 28, 28]
new_marks = [ mark+2 for mark in marks ]
print(new_marks)

[25, 14, 17, 20, 30, 30]

##**8. OOPS in Python**

### 1. Object and Classes


```
class <class_name> :
    pass

obj = <class_name>()
```

In python, everything is treated as an object.

```
int, float, function, class  
             |
          object
```

is callable (True/False) that means, it creates an instance of the class

### 2. Class methods()

In python it is allowed to directly use class as abstract class, i.e we can directly use the function of the class without creating instance of that

- \_\_init__() : constructor of class
- self parameter : refers to the newly created instance fo the class
- attributes length, breadth are associated with self keyword to identify them as instance

In [ ]:
class Rectangle:
    def __init__(self):
      self.length = 10
      self.breadth = 20

#creating object
obj = Rectangle()
print(f"Length: {obj.length} breadth: {obj.breadth}")

Length: 10 breadth: 20

In [ ]:
class Employee:
  def __init__(self, name, empid):
    self.name = name
    self.empid = empid

  def setSal(self, sal):
    self.sal = sal

  def getSal(self):
    return self.sal

e1 = Employee("Ramesh",109)
e1.setSal(90)
print(f"Name: {e1.name} | E.no: {e1.empid} | Salary: ${e1.getSal()}k")

e2 = Employee("Akhil",262)
e2.setSal(180)
print(f"Name: {e2.name} | E.no: {e2.empid} | Salary: ${e2.getSal()}k")

e3 = Employee() #TypeError: Employee.__init__() missing 2 required positional arguments: 'name' and 'empid'
e3.setSal(70)
print(f"Name: {e3.name} | E.no: {e3.empid} | Salary: ${e3.getSal()}k")

Name: Ramesh | E.no: 109 | Salary: $90k
Name: Akhil | E.no: 262 | Salary: $180k

TypeError: Employee.__init__() missing 2 required positional arguments: 'name' and 'empid'

### 3. Class variables and Instance variables

In [ ]:
class Car:
  Year = 2023  #class variable
  Country = "India"  #class variable

  def __init__(self, name, carType):
    self.name = name  #instance var
    self.carType = carType

creta = Car("Creta","SUV")
city = Car("City","Sedan")

print(f"Car {creta.name}")

#to modify class variable
Car.Year = 2024
print(Car.Year)

Car Creta
2024

### 4. Methods()

**Self:**

- Makes sure that each instance referes to it's own copy of attributes
- The self keyboard in the **\_\_init__()** method has a different functionality of linking the elements defined in the class to the values passed as arguments while creating an instance to the class

In [ ]:
class Rectangle:
  def __init__(self, len, brt):
    self.len = len
    self.brt = brt

  def calcArea(self):
    return self.len * self.brt

r1 = Rectangle(10, 20)
print(f"area: {r1.calcArea()}")

area: 200

### 5. Class Methods

- Bound to class
- Receives class object as the implicit 1st argument
- Takes 'cls' parameter, which represents the class object
- The object can be used to access and modify the class attributes
- Cannot access the instance variables
- Defined using @classmethod
- Any change made using class method would apply to all instances of the class

### 6. Static Methods

- Bound to class
- Doest require any implicet 1st argument
- Implementing functionality having logical connection to the class
- Cannot access instance variables
- Defined using @staticmethod

In [ ]:
import math

class Circle:
  pi = 3.14
  def __init__(self, radius):
    self.radius = radius

  #instance method
  def calcArea(self):
    return Circle.pi * math.pow(self.radius,2)

  #class method
  @classmethod
  def accessPi(cls):
    cls.pi = 3.1416
    return cls.pi

  #static method
  @staticmethod
  def circleStaticMethod():
    print("this is static method")


c1 = Circle(4)
print("c1.calcArea() - ",c1.calcArea())

print("Circle.pi - ",Circle.pi)

print("c1.pi - ",c1.pi)

print("Circle.accessPi() - ",Circle.accessPi())

print("Circle.pi - ",Circle.pi)

c1.calcArea() -  50.24
Circle.pi -  3.14
c1.pi -  3.14
Circle.accessPi() -  3.1416
Circle.pi -  3.1416

### 7. Dunders / Magic Methods

Dunders allow Python to implement operator overloading, meaning that you can define how operators like +, -, and * work with your custom objects.

Here are some common examples of dunders:

- `__init__(Self)` : This is the constructor method, which is called when the object is created.

- `__del__(self)` : When the object is deleted or thrown out of the memory (garbage collected) deliberately.

- `__add__(self, other)`: This method defines how the + operator works for your object.
  `
  obj1 + obj2
  `

  `
  obj1.__add__(obj2)
  `


- `__mul__`: This method defines how the * operator works for your object.

- `__str__(self)`: This method defines how your object is represented as a string.
`
str(obj) or obj.__str__(obj)
`


- `__len__`: This method defines the length of your object

- `__eq__(self, other)`: a == b, a.\_\_eq__(b)

Life cycle of the object

- created
- deleted

##**9. Multithreading in Python**

In [ ]:
#p-1) simple code
import time

In [ ]:
def calc_square(numbers):
	print("calculating square")
	for n in numbers:
		time.sleep(0.2) #cpu is idle
		print("square: ", n*n)

In [ ]:
def calc_cube(numbers):
	print("calculating cube")
	for n in numbers:
		time.sleep(0.2)
		print("cube: ", n*n*n)

In [ ]:
arr = [1,2,3]

In [ ]:
t = time.time()
calc_square(arr)
calc_cube(arr)

calculating square
square:  1
square:  4
square:  9
calculating cube
cube:  1
cube:  8
cube:  27

In [ ]:
print("done in: ", time.time()-t) #1.2sec
print("Exit")

done in:  6.994403839111328
Exit

In [ ]:
#p-2) multithreading code
import time
import threading

def calc_square(numbers):
	print("calculating square")
	for n in numbers:
		time.sleep(0.2) #cpu is idle
		print("square: ", n*n)

def calc_cube(numbers):
	print("calculating cube")
	for n in numbers:
		time.sleep(0.2)
		print("cube: ", n*n*n)

numbers = [1,2,3]

t = time.time()
t1 = threading.Thread(target = calc_square, args = (numbers, ))
t2 = threading.Thread(target = calc_cube, args = (numbers, ))

t1.start()
t2.start()

t1.join()
t2.join()

print("done in: ", time.time()-t) #0.6sec
print("Exit")

calculating squarecalculating cube

cube:  1
square:  1
cube:  8
square:  4
cube:  27
square:  9
done in:  0.6116631031036377
Exit